{% if app.user and is_granted('ROLE_ADMIN') %}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.subtitle) }}
        {{ form_row(form.readTime) }}
        {{ form_row(form.content) }}
        {% if article.image %}
            <h6>Image postée :</h6>
            <img src="{{ asset('/uploads/' ~ article.image.name) }}" class="img-fluid mb-2" width="200px" height="200px"/>
        {% else %}
            <small>Taille recommandée : 1200x300</small>
            {{ form_row(form.image) }}
        {% endif %}
        {{ form_row(form.category) }}
        {{ form_row(form.isVisible) }}
        {{ form_row(form.publishAt) }}
        <div class="d-flex align-items-center">
            <a href="{{ path('admin_dashboard') }}" class="btn btn-warning mr-2">Annuler</a>
            {{ form_row(form.valider) }}
        </div>
    {{ form_end(form) }}
{% endif %}


