{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    {% for messages in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert" tabindex="0">&times;</button>
            {{ messages }}
        </div>
    {% endfor %}
    <a href="{{ path('home') }}"><h3>🏠</h3></a>
    <h1 class="text-center">{{ article.title }} {% if article.status == 'NP' %} (Non publié){% endif %}
    </h1>
    <h6 class="text-center mb-4">{{ article.subTitle }}</h6>

    {% if app.user and is_granted('ROLE_ADMIN') %}
    <div class="d-flex">
        <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-warning mr-2 mb-2">Editer</a>
        {{ include('article/_delete_form.html.twig') }}
    </div>
    {% endif %}

    <h6 class="text-muted"><strong>Autheur :</strong> {{ article.user.author ? article.user.author : 'empty' }}</h6>
    <h6 class="text-muted"><strong>Date de création :</strong> {{ article.createAt ? article.createAt|date('d-m-Y') : 'empty' }}</h6>
    <h6 class="text-muted"><strong>Temps de lecture :</strong> {{ article.readTime ? article.readTime : 'none' }} minutes</h6>
    <h6 class="text-muted"><strong>Categorie :</strong> {{ article.category.name }}</h6>
    <hr>
    <img class="img-fluid" src="https://blog.parkinn.com/wp-content/uploads/sites/7/2013/11/astana-city-panoramic-view.jpg"/>
    <div class="my-2" style="overflow-wrap: break-word;">
        {{ article.content }}
    </div>
    <hr>
    <a href="{{ path('home') }}">
        <i class="fas fa-share"></i> Partager
    </a>
    <br>
    <a href="{{ path('home') }}" class="card-link" tabindex="0">
        <i class="far fa-heart"></i> Aimer
    </a>
    <hr>
    {% include "article/_comment.html.twig" %}
    <hr>
    {% include "article/_latest-article.html.twig" %}
{% endblock %}
