{% extends 'base.html.twig' %}

{% block title %}Articles aimés{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Vos articles aimés</h1>

    {% include "user/_menu.html.twig" %}

    {% if articles is not empty %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">{{ knp_pagination_sortable(articles, 'Titre', 'a.title') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(articles, 'Autheur', 'a.author') }}</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Contenu</th>
                    <th scope="col">{{ knp_pagination_sortable(articles, 'Date', 'a.createAt') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for likes in articles %}
                    <tr>
                        <th scope="row">img</th>
                        <th scope="row"><a href="{{ path('article_show', { id: likes.article.id }) }}">{{ likes.article.title }}</th>
                        <th scope="row">{{ likes.user.firstName }} {{ likes.user.lastName }}</th>
                        <th scope="row">{{ likes.article.category }}</th>
                        <th scope="row">{{ likes.article.content|slice(0,10) ~ '...' }}</th>
                        <th scope="row">{{ likes.article.createAt|date('d/m/Y') }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center d-flex justify-content-center">
            {{ knp_pagination_render(articles) }}
        </div>
    {% else %}
        <div class="text-center my-4 border p-4 text-muted">
            Aucun article aimé :(
        </div>
    {% endif %}

{% endblock %}